<app-loading *ngIf="loadingAr"></app-loading>

<div class="row animated fadeIn" *ngIf="!loadingAr">
    <div class="col-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle">
    </div>
    <div class="col">
        <h3>{{ artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank"> Ir a la pagina del artista...</a>
        </p>
    </div>
    <div class="col-4 text-right">
        <button routerLink="/search" class="btn btn-outline-danger">
            regresar
        </button>
    </div>
</div>


<div class="row m-5">
    <div class="table">
        <table class="table">
            <thead class="table-dark">
                <th>Foto</th>
                <th>Album</th>
                <th>Canción</th>
                <th>Vista Previa</th>
            </thead>

            <tbody class="table-dark" *ngFor="let track of tracks">
                <td>
                    <img [src]="track.album.images |noimage" class="img-thumb">
                </td>
                <td>{{track.album.name}}</td>
                <td>{{track.name}}</td>
                <td>

                    <!-- <audio *ngIf="track.preview_url" [src]="track.preview_url" controls></audio> -->
                    <span *ngIf="!track.preview_url" class="badge badge-default">Vista previa no Disponible</span>
                    <iframe [src]="track.id | domseguro:'https://open.spotify.com/embed/track/'" width="300" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </td>
            </tbody>
        </table>
    </div>
</div>