<div class="row">
    <div class="col">
        <input #termino type="text" (keyup.enter)="buscar(termino.value)" class="form-control" placeholder="Buscar artista...">
    </div>
</div>
<app-loading *ngIf="loading"></app-loading>
<app-tarjetas [items]="artistas"></app-tarjetas>