<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">ta Chimba el angular</a>
</nav> 
<div class="container">

  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li 
          *ngFor= "let empleados of empleadosArray" 
          class="list-group-item list-group-item-action"
          (click)="OpenForEdit(empleados)"
          [class.active] = "empleados == SelectedEmpleados"
          >
        
          <span class="badge badge-primary">{{empleados.id}}</span>
          {{empleados.name}} -
          {{empleados.country}}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Insertar empleado
            
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="SelectedEmpleados.name" placeholder="Inserte un nombre" class="form-group">
            
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="SelectedEmpleados.country" placeholder="Inserte un Pais" class="form-group">
          
          </div>
          <button (click)="addOrEdit()" class="btn btn-primary">
            Enviar
          </button>
          <button 
          *ngIf = "SelectedEmpleados.id != 0"
          class="btn btn-danger"
           (click)= "delete()">
          Eliminar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <img width="500" src="https://i.ibb.co/2cFd3Pc/SotoyR.jpg" >
    </div>
  </div>

</div>