<h1 class="animated fadeIn fast"> {{ heroe.nombre | uppercase }} <small>({{heroe.aparicion | date:'y'}})</small></h1>
<hr>
<div class="row">
    <div class="col-md-2">
        <img [src]="heroe.img" class="img-fluid">

        <br><br>

        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8 animated fadeIn">
        <h3>{{heroe.nickname}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div>
            
            <h3 *ngIf="heroe.casa == 'DSS'">Este heroe pertenece a Discusiones sin sentido </h3>
            <hr>
            <img class="img-logo" *ngIf="heroe.casa == 'DSS'" src="assets/img/DSS.jpg" alt="DSS">
        </div>
    </div>

</div>
