<h1>Heroe <small>Nombre del heroe</small></h1>
<hr>

<div class="row text-end">
    <div class="col">
        <button routerLink="/heroes"
                class="btn btn-danger">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form>

            <div class="form-group mb-3">
                <label>Firebase ID</label>
                <input  type="text"
                        class="form-control"
                        disabled="disabled"
                        placeholder="Firebase ID">
                <small class="form-text text-muted">Este campo es autogenerado</small>
            </div>
            <div class="form-group mb-3">
                <label>Nombre</label>
                <input  type="text"
                        class="form-control"
                        placeholder="Nombre del heroe"
                        required>
            </div>
            <div class="form-group mb-3">
                <label>Poder</label>
                <input  type="text"
                        class="form-control"
                        placeholder="Poder del heroe"
                        required>
            </div>
            <div class="form-group mb-3">
                <label>Estado</label>
                <br>
                <button class="btn btn-outline-success w-50" type="button">
                    <i class="fa fa-smile-wink"></i>
                    Vivo
                </button>
                <button class="btn btn-outline-danger w-50" type="button">
                    <i class="fa fa-dizzy"></i>
                    Morido
                </button>
            </div>
            <br>


            <hr>
            <div class="form form-group text-center">
                <button type="submit"
                        class="btn btn-primary w-25">
                <i class="fa fa-save"></i>
                Guardar
                </button>
            </div>
        </form>

    </div>

</div>
