<ion-header [translucent]="true">
    <ion-toolbar color="dark">
        <ion-title>
            Listas Terminadas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark" [fullscreen]="true">
    <app-listas [terminada]="true"></app-listas>
</ion-content>