<h1 class="mt-3">Pupes <small>Angular</small></h1>
<hr>


<div class="row">
    <div class="col">
        <table class="table table-dark">
            <thead class="thead-light">
                <tr>
                    <th> Variable </th>
                    <th> Pipe </th>
                    <th> Salida </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre2}}</td>
                    <td>capitalizado</td>
                    <td>{{nombre2 | capitalizado}}</td>
                </tr>
                <tr>
                    <td>{{nombre2}}</td>
                    <td>capitalizado</td>
                    <td>{{nombre2 | capitalizado:false}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>upercase</td>
                    <td>{{nombre | uppercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre | lowercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:3</td>
                    <td>{{ nombre | slice:3 }}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>slice:0:3</td>
                    <td>{{ nombre | slice:0:3 }}</td>
                </tr>
                <tr>
                    <td>{{arreglo}}</td>
                    <td>slice:3</td>
                    <td>{{ arreglo | slice:1:5 }}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number</td>
                    <td>{{ PI | number }}</td>
                </tr>
                <tr>
                    <td>{{PI}}</td>
                    <td>number:'.0-2' </td>
                    <td>{{ PI | number:'.0-2' }}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{ porcentaje | percent }}</td>
                </tr>
                <tr>
                    <td>{{porcentaje}}</td>
                    <td>percent:'2.2-2' </td>
                    <td>{{ porcentaje | percent:'2.2-2' }}</td>
                </tr>

                <tr>
                    <td>{{salario}}</td>
                    <td>currency</td>
                    <td>{{ salario| currency }}</td>
                </tr>

                <tr>
                    <td>{{salario}}</td>
                    <td>currency:'COP'</td>
                    <td>{{ salario | currency:'COP' }}</td>
                </tr>
                <tr>
                    <td>{{salario}}</td>
                    <td>currency'EUR':'symbol':'.0-0' </td>
                    <td>{{ salario | currency:'EUR':'symbol-narrow':'.0-0' }}</td>
                </tr>
                <tr>
                    <td>{{valorPromesa}}</td>
                    <td>asycn</td>
                    <td>{{ valorPromesa | async }}</td>
                </tr>

                <tr>
                    <td>{{ fecha}}</td>
                    <td>date</td>
                    <td>{{ fecha | date }}</td>
                </tr>
                <tr>
                    <td>{{ fecha}}</td>
                    <td>date:'medium'</td>
                    <td>{{ fecha | date: 'medium' }}</td>
                </tr>
                <tr>
                    <td>{{ fecha}}</td>
                    <td>date:'short' </td>
                    <td>{{ fecha | date: 'short' }}</td>
                </tr>
                <tr>
                    <td>{{ fecha}}</td>
                    <td>date:'MMMM-dd' </td>
                    <td>{{ fecha | date: 'MMMM-dd' }}</td>
                </tr>
                <tr>
                    <td>{{ fecha}}</td>
                    <td>date:'MMMM-dd' </td>
                    <td>{{ fecha | date: 'dd-MMMM-YY' }}</td>
                </tr>
                <tr>
                    <td>{{ fecha }}</td>
                    <td>date: 'dd-MMMM-YY':{{idioma}}

                        <br>
                        <button (click)="idioma='es'" class="mx-1 btn btn-primary">Español</button>
                        <button (click)="idioma='en'" class="mx-1 btn btn-secondary">Inglés</button>
                        <button (click)="idioma='fr'" class="mx-1 btn btn-success">Frances</button>
                    </td>
                    <td>{{ fecha | date: 'dd-MMMM-YY':'':idioma }}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>
                        contrasena: {{ activar }}
                        <br>
                        <button (click)="activar=!activar" class="btn btn-outline-primary mx-1">
                            Activar/Desactivar
                        </button>
                    </td>
                    <td>{{nombre | contrasena: activar}}</td>
                </tr>
            </tbody>
        </table>
        <h4>Slice</h4>
        <ul>
            <li *ngFor="let item of arreglo |slice:5:20">{{item}}</li>
        </ul>

        <h3>JSON</h3>
        <hr>
        <div class="row mb-10">
            <div class="col">
                <pre>
                {{heroe | json}}
              </pre>
            </div>
        </div>
    </div>
</div>

<h3 class="mt-4">Domseguro</h3>
<hr>
<div class="row mb-5">
    <div class="col">
        <iframe width="560" height="315" [src]="videoUrl | domseguro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
</div>