<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Auth0 App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/precios">Precios</a>
        </li>
          <li *ngIf= "" class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/protegida">Protegida</a>
          </li>
        </ul>
        <span class="navbar-text">
          <ng-container  *ngIf= "auth.isAuthenticated$ | async; else loggedOut">
            <button class="btn btn-outline-danger"
                   (click)= "auth.logout({ returnTo: document.location.origin })">
              Salir
            </button>
          </ng-container>
      
          <ng-template #loggedOut>
            <button class="btn btn-outline-primary"
                    (click)= "auth.loginWithRedirect()">Ingresar</button>
          </ng-template>
        </span>
      </div>
    </div>
  </nav>
