<div class="row row-cols-1 row-cols-md-3 g-4 m-5 animated fadeIn">
    <div class="col" *ngFor="let item of items">
        <div (click)="verArtista( item )" class="card puntero">
            <img [src]="item.images | noimage" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">
                    {{ item.name }}
                </h4>
                <h4 class="card-text">
                    <span *ngFor="let artista of item.artists" class="badge rounded-pill bg-primary">
                        {{artista.name}}
                    </span>
                </h4>
            </div>
        </div>
    </div>
</div>