<app-loading *ngIf="loading"></app-loading>

<div *ngIf="error" class="alert alert-danger animated fadeIn">
    <h3>Error</h3>
    <p>
        {{menError}}
    </p>
</div>


<app-tarjetas [items]="nuevasCanciones"></app-tarjetas>