<h1 class="animated fadeIn fast">Sobre comic app</h1>
<hr>
<h2 class="animated fadeIn">Hagamos un trato</h2>
<p class="animated fadeIn">Compañera usted sabe que puede contar conmigo no hasta dos ni hasta diez sino contar conmigo.</p>

<p class="animated fadeIn">Si alguna vez advierte que la miro a los ojos y una veta de amor reconoce en los míos no alerte sus fusiles ni piense qué deliro a pesar de la veta o tal vez porque existe usted puede contar conmigo.
</p>
<p class="animated fadeIn">Si otras veces me encuentra huraño sin motivo no piense qué flojera igual puede contar conmigo.
</p>
<p class="animated fadeIn">
    Pero hagamos un trato, yo quisiera contar con usted. Es tan lindo saber que usted existe uno se siente vivo y cuando digo esto quiero decir contar aunque sea hasta dos aunque sea hasta cinco no para que acuda presurosa en mi auxilio sino para saber a
    ciencia cierta que usted sabe que puede contar conmigo.
</p>