<h4>Formularios  <small> template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row mb-3">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-6">

        <input class="form-control"
               type="text"
               name="nombre"
               [class.is-invalid]="nombre.invalid && nombre.touched"
               [ngModel]="usuario.nombre"
               placeholder="Nombre"
               required
               minlength="2"
               #nombre="ngModel">
        <small *ngIf="nombre.invalid && nombre.touched"
         class="form-text text-danger">Ingrese un nombre valido</small>
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-6">

        <input class="form-control"
               type="text"
               name="apellido"
               [class.is-invalid]="apellido.invalid && apellido.touched"
               [ngModel]="usuario.apellido"
               required
               placeholder="Apellido"
               minlength="2"
               #apellido="ngModel">
        <small *ngIf="apellido.invalid && apellido.touched" 
        class="form-text text-danger">Ingrese un apellido valido</small>
      </div>
    </div>

  </div>

  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-6">

      <input class="form-control"
             type="email"
             [class.is-invalid]="email.invalid && email.touched"
             [ngModel]="usuario.email"
             name="email"
             placeholder="Correo electrónico"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #email="ngModel">
      <small *ngIf="email.invalid && email.touched" class="form-text text-danger">Ingrese un correo valido</small>
    </div>
  </div>


  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">País</label>
    <div class="col-6">
      
      <select class="form-control"
              name="pais"
              [disabled]="paises.length ===0"
              [class.is-invalid]="pais.invalid && pais.touched"
              [ngModel]="usuario.pais"
              required
              #pais="ngModel">
        <option *ngFor="let pais of paises"
                [value]="pais.codigo">
          {{pais.nombre}}
          {{pais.bandera}}
        </option>
      </select>
      <small *ngIf="pais.invalid && pais.touched" class="form-text text-danger">Seleccione un país valido</small>

    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-6">
      <div class="form-check form-check-inline">
       
        <input  class="form-check-input"
                type="radio"
                name="sexo"
                value="M"
                [class.is-invalid]="sexo.invalid && sexo.touched"
                required
                [ngModel]="usuario.sexo"
                #sexo="ngModel">
       
        <label form-check-label>Masculino</label>
      </div>
      <div class="form-check form-check-inline">
        
        <input  class="form-check-input"
                  type="radio"
                  name="sexo"
                  value="F"
                  [class.is-invalid]="sexo.invalid && sexo.touched"
                  required
                  [ngModel]="usuario.sexo"
                  #sexo="ngModel">
        
        <label form-check-label>Femenino</label>

      </div>
      <small *ngIf="sexo.invalid && sexo.touched" class="form-text text-danger">Seleccione su sexo</small>
    </div>

  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
