<h1>Héroes
    <small>Discusiones sin sentido</small>
</h1>
<hr>

<div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col" *ngFor="let heroe of heroes; let i = index">
        <div class="card animated fadeIn fast">
            <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
            <div class="card-body">
                <h5 class="card-title">{{ heroe.nombre }}</h5>
                <p class="card-text">{{ heroe.bio }}</p>
                <p class="card-text"><small class="text-muted">{{ heroe.aparicion}}</small></p>
                <!--<a [routerLink]="[ '/heroe', i ]" class="btn btn-outline-primary">Ver más link...</a>-->
                 <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block"> 
                    Ver más...
                 </button>
             </div>
            <div class="card-footer">
                <small class="text-muted">Nickname: {{heroe.nickname}}</small>
            </div>
        </div>
    </div>
</div>