<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">Cimic app</h1>
        <p class="lead">This is a comic's app.</p>
    </div>
</div>