<h4>Formularios <small> reactive </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row mb-3">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-6">

        <input class="form-control" 
               type="text" 
               placeholder="Nombre" 
               formControlName="nombre"
               [class.is-invalid]="nombreNoValido">
               <!--[class.is-invalid]="forma.get('nombre')?.invalid && forma.get('nombre')?.touched"-->
        <small *ngIf="nombreNoValido" class="text-danger">
          Por favor ingrese un nombre valido
        </small>
      </div>
    </div>

    <div class="form-group row mb-3">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-6">

        <input class="form-control" 
               type="text" 
               placeholder="Apellido" 
               formControlName="apellido"
               [class.is-invalid]="apellidoNoValido">
               <!--[class.is-invalid]="forma.get('apellido')?.invalid && forma.get('apellido')?.touched"-->
        <small *ngIf="apellidoNoValido" class="text-danger">
          Por favor ingrese un apellido valido
       </small>

      </div>
    </div>

  </div>

  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-6">

      <input class="form-control" 
             type="email" 
             placeholder="Correo electrónico" 
             formControlName="correo"
             [class.is-invalid]="correoNoValido">
            <!-- [class.is-invalid]="forma.get('apellido')?.invalid && forma.get('apellido')?.touched" -->
      <small *ngIf="correoNoValido" class="text-danger" >
        Ingrese un correo valido
      </small>
    
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col-6">

      <input class="form-control" 
             type="text" 
             placeholder="Nombre de usuario" 
             formControlName="usuario"
             [class.is-invalid]="usuarioNoValido">
            <!-- [class.is-invalid]="forma.get('apellido')?.invalid && forma.get('apellido')?.touched" -->
      <small *ngIf="usuarioNoValido" class="text-danger" >
        Ingrese un nombre de usuario valido
      </small>
    
    </div>
  </div>

  <div class="form-group row mb-3" 
       formGroupName="direccion">

    <label class="col-2 col-form-label">Direccion</label>
    <div class="row col-6">

      <div class="col-3">
        <input type="text"
               class="form-control"
               placeholder="Ciudad"
               formControlName="ciudad"
               [class.is-invalid]="ciudadNoValida">
      </div>
      <div class="col-3" >
        <input type="text"
               class="form-control"
               placeholder="Principal"
               formControlName="principal"
               [class.is-invalid]="principalNoValida">
      </div>
      <div class="col-1 mt-2">
        #
      </div>
      <div class="col-2" >
        <input type="text"
               class="form-control"
               placeholder="Secundaria"
               formControlName="secundaria"
               [class.is-invalid]="secundariaNoValida">
      </div>
      <div class="col-1 mt-2 ml-0">
        -
      </div>
      <div class="col-2 ml-0" >
        <input type="text"
               class="form-control"
               placeholder="Numeral"
               formControlName="numeral"
               [class.is-invalid]="numeralNoValido">
      </div>

      <small *ngIf="ciudadNoValida || principalNoValida || secundariaNoValida || numeralNoValido" class="text-danger">
        Ingrese una direccion valida
      </small>
    </div>
  </div>   

  <div class="row">
    <div class="col-8">

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Pasatiempo</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let control of pasatiempos.controls; let i = index">
            <td>{{ i+1 }}</td>
            <td>
              <input class="form-control"
                     type="text"
                     [formControlName]="i">
            </td>
            <td>
              <button class="btn btn-danger"
                      (click)="borrarPasatiempos(i)">
                Borrar

              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-grid grap-2 mb-3">
      <button class="btn btn-primary btn-block"
              type="button"
              (click)="agregarPasatiempo()">
        +Agregar
      </button>
    </div>
    </div>
  </div>       

  
  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col-6">

      <input class="form-control" 
             type="password" 
             placeholder="Contraseña" 
             formControlName="pass1"
             [class.is-invalid] = "pass1NoValido">
            <!-- [class.is-invalid]="forma.get('apellido')?.invalid && forma.get('apellido')?.touched" -->
      <small *ngIf="pass1NoValido" class="text-danger" >
        Ingrese una contraseña valida
      </small>
    
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-2 col-form-label">Repita contraseña</label>
    <div class="col-6">

      <input class="form-control" 
             type="password" 
             placeholder="Repita contraseña" 
             formControlName="pass2"
             [class.is-invalid]="pass2NoValido">
            <!-- [class.is-invalid]="forma.get('apellido')?.invalid && forma.get('apellido')?.touched" -->
      <small *ngIf="pass2NoValido" class="text-danger" >
        Las contraseñas no coinciden
      </small>
    
    </div>
  </div>
  
  <div class="form-group row mb-3 col-8" >
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-6 d-grid gap-2" >
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
<hr>

<pre>
  Estado del formulario: {{ forma.valid }}
  <br>
  Status: {{ forma.status }}
</pre>

<pre>

  {{ forma.value | json }}

</pre>